@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.logo a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 33px;
    color: black;
}
.main-manu{
    text-decoration: none;
    display: flex;
}
.navbar-nav{
    margin: 0px 0px 0px 0px;
}
.main-manu ul li a {
    font-size: 20px;
    color: black !important;
    margin: 2px;
    font-family: 'Roboto Mono', monospace;
}
.main-manu ul li button {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}
.navbar-expand-lg{
    justify-content: space-between;
}
.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}